body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo1p {
  font-size: 26px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #000000;
}
.logo2p {
  font-size: 26px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #2196f3;
}
.all-big-chars {
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}
.main-page-banner {
  background-color: #2f303a;
}
footer {
  background-color: #2f303a;
}
.button-to-order {
  color: #ffffff;
  background-color: #2196f3;
}
p {
  font-size: 14px;
  color: #212121;
}
h1 {
  font-size: 44px;
  /*font-style: normal;*/
  font-weight: 900;
  color: #212121;
}
h2 {
  font-size: 36px;
  font-style: normal;
  color: #212121;
}
h3 {
  font-size: 14px;
  font-style: normal;
  color: #212121;
}
button:hover {
  color: chocolate;
  cursor: pointer;
}
button:focus {
  color: tomato;
}
a:hover {
  color: chocolate;
  cursor: pointer;
}
a:active {
  color: tomato;
}
