:root {
  --bgcolor: #f5f5f5;
  --mainfont: 'Roboto', sans-serif;
  --bannerfont: 'Raleway', sans-serif;
  --bluebtn: #2196f3;
  --bluetextclr: var(--bluebtn);
  --whitetxt: #ffffff;
  --bannerclr: #2f303a;
  --fontcolorh3: #212121;
  --fontcolordescrp: #757575;
  --fontblack: #000000;
}
body {
  background-color: var(--bgcolor);
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.nomarkerlst {
  list-style-type: none;
  padding: 0;
}
.navtag1 a,
.navtag1 li > a,
header .nomarkerlst li > a {
  line-height: 1.14;
  text-decoration: none;
  color: var(--fontcolorh3);
}
footer li > a,
footer .nomarkerlst li > a {
  line-height: 1.14;
  text-decoration: none;
  font-weight: 400;
  color: var(--whitetxt);
}

.logo1p {
  font-size: 26px;
  text-decoration: none;
  /*text-shadow: #2f303a;*/
  font-family: var(--bannerfont);
  font-weight: 700;
  color: var(--bluetextclr);
}
header .logo2p {
  font-size: 26px;
  text-decoration: none;
  font-family: var(--bannerfont);
  font-weight: 700;
  color: var(--fontblack);
}
footer .logo2p {
  font-size: 26px;
  text-decoration: none;
  font-family: var(--bannerfont);
  font-weight: 700;
  color: var(--whitetxt);
}
footer {
  background-color: var(--bannerclr);
}

.all-big-chars {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--whitetxt);
  line-height: 3em;
}
.main-page-banner {
  background-color: var(--bannerclr);
}

.button-to-order {
  color: var(--whitetxt);
  background-color: var(--bluebtn);
  font-size: 16px;
  border-collapse: collapse;
  line-height: 3em;
}
.navbtn-menu button {
  border-collapse: collapse;
  font-size: 16px;
  line-height: 3em;
}
p {
  color: var(--fontcolordescrp);
}
h1 {
  font-size: 44px;
  font-weight: 900;
  color: var(--fontcolorh3);
}
h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: var(--fontcolorh3);
}
h3 {
  font-style: normal;
  font-weight: 500;
  color: var(--fontcolorh3);
}

.main-page-banner > button:hover {
  color: chocolate;
  cursor: pointer;
}
.main-page-banner > button:focus {
  color: tomato;
}
.nomarkerlst li > a:hover {
  color: chocolate;
  cursor: pointer;
}
.nomarkerlst li > a:active {
  color: tomato;
}
