:root {
  --bgcolor: #f5f5f5;
  --mainfont: 'Roboto', sans-serif;
  --bannerfont: 'Raleway', sans-serif;
  --bluebtn: #2196f3;
  --bluetextclr: var(--bluebtn);
  --whitetxt: #ffffff;
  --bannerclr: #2f303a;
  --fontcolorh3: #212121;
  --fontcolordescrp: #757575;
  --fontblack: #000000;
  --greybtbn: #f4f5fa;
  --logoshadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /*text-shadow*/
}
body {
  background-color: var(--bgcolor);
  font-family: var(--mainfont);
  font-size: 14px;
}
.h1,
.h2,
.h3,
.h4,
.ul,
.p {
  margin: 0;
  padding: 0;
}
.p {
  color: var(--fontcolordescrp);
  font-weight: 400;
}
.h1 {
  font-size: 44px;
  font-weight: 900;
  color: var(--fontcolorh3);
}
.h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  color: var(--fontcolorh3);
}
.h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  color: var(--fontcolorh3);
}
.ul > img {
  display: block;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.f-main {
  border: 1px solid #eeeeee;
}

.nomarkerlst {
  list-style-type: none;
  padding: 0;
}
.navtag1 a,
.navtag1 li > a,
.header .nomarkerlst li > a {
  line-height: 1.14;
  text-decoration: none;
  color: var(--fontcolorh3);
}
.footer a,
.footer li > a,
.footer .nomarkerlst li > a {
  line-height: 1.14;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: var(--whitetxt);
}

.logo1p {
  font-size: 26px;
  text-decoration: none;
  font-family: var(--bannerfont);
  font-weight: 700;
  color: var(--bluetextclr);
}
.header .logo2p {
  font-size: 26px;
  text-decoration: none;
  font-family: var(--bannerfont);
  font-weight: 700;
  color: var(--fontblack);
}
.footer .logo2p {
  font-size: 26px;
  text-decoration: none;
  font-family: var(--bannerfont);
  font-weight: 700;
  color: var(--whitetxt);
}
.footer {
  background-color: var(--bannerclr);
}
.opacity60 {
  opacity: 0.6;
}
.ourcommand-bg {
  background-color: #f5f4fa;
}
.all-big-chars {
  font-weight: 900;
  text-transform: uppercase;
  color: var(--whitetxt);
  line-height: 3em;
}
.main-page-adv-4h3 .h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.main-page-banner {
  background-color: var(--bannerclr);
}

.button-to-order {
  color: var(--whitetxt);
  border-collapse: collapse;
  background-color: var(--bluebtn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  width: 216px;
  height: 50px;
  /*line-height: 3em;*/
  border-radius: 4px;
}
.nawbtn-section {
  /*background-color: #f5f4fa;*/
}
.navbtn-menu button {
  border-collapse: collapse;
  /*line-height: 2em;*/
  height: 38px;
  background-color: var(--greybtbn);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
.navbtn-menu button:hover,
.navbtn-menu button:focus,
.navbtn-menu button:active {
  cursor: pointer;
  background-color: var(--bluebtn);
  color: var(--whitetxt);
}
.alt-p-16 > .p {
  font-size: 16px;
  color: var(--fontcolordescrp);
}
.main-page-banner > button:hover {
  /*color: chocolate;*/
  opacity: 0.6;
  cursor: pointer;
}
.main-page-banner > button:focus {
  /*color: tomato;*/
  opacity: 0.85;
}
.nomarkerlst li > a:hover {
  color: var(--bluetextclr);
  cursor: pointer;
}
.nomarkerlst li > a:active {
  color: var(--bluetextclr);
}
/*.nomarkerlst li > a:visited {
  color: tomato;
}*/
